.carousel-item {
  height: 500px;
}

.Mnama {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -50px;
}

.judul {
  text-decoration: none;
}

@media (max-width: 600px) {
  .responlogo {
    font-size: 0;
    margin-left: 10px;
  }
}