.judul {
    margin: 50px 0 0 250px;
    padding: 0;
    width: 600px;
    height: 250px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.judul a {
    margin: 10px;
    text-decoration: none;
}

.gambar {
    margin-top: 10px !important;
    margin: auto;
    width: 100px;
    height: 100px;
}

.detailContainer {
    margin-top: 20px !important;
    margin: auto;
    width: 400px;
    height: 420px;
    border: 1px solid black;
}

.keterangan {
    margin-top: 20px !important;
    margin: auto;
    padding: 10px;
    border: 1px solid;
    width: 300px;
}